@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  /* border: 0; */
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* color: #000; */
  list-style: none;
  text-decoration: none;
  /* transition: all 0.5s; */
  /* caret-color: transparent; */
}
